body,html{
    height: 100%;
    margin:0 auto;
}
.link{
    color:bisque;
    padding: 10px 20px;
}
.link:hover{
    background: white;
}
.section1{
    background: url(../img/coffee-in-the-workplace_1112-114.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 60px;
    background-size: cover;
}
.judul{
    font-family: anna;
    font-size: 60px;
    color: black;
    margin: auto;
}
.sub-judul{
    font-family: anna;
    font-size: 50;
    color:black;
    margin: auto;
}
.section2{
    font-family: sans-serif;
    background: grey;
    padding: 70px 0px;
    text-align: left;
    text-decoration-style: dashed; 
    color: azure;
}
.section3{
    background: chocolate;
    padding: 100px 0px;
    color: blanchedalmond;
}
.section4{
    background: cyan;
    padding: 100px 0px;
}